{% extends 'base.html' %}

{% block title %}Contact - Alinda's Portfolio{% endblock %}

{% block content %}
<div class="contact-info-page">
    <h2>📞 Get in Touch</h2>
    <p>You can reach out to me anytime through the following contact details:</p>

    <div class="contact-details">
        <p><strong> Location:</strong> Makerere, Kampala-Uganda</p>
        <p><strong> Email:</strong> trustalindatracy@gmail.com</p>
        <p><strong> Phone:</strong> +256 755 581 875 or +256 775 544 860</p>
        <p><strong> LinkedIn:</strong> <a
                href="https://www.linkedin.com/in/alinda-tracy-103055343?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BA1K6ANM9T7242JOgu5lfZA%3D%3D"
                target="_blank">linkedin.com/in/alinda</a></p>
        <p><strong> GitHub:</strong> <a href="https://github.com/Alynder23" target="_blank">github.com/alinda</a></p>
    </div>
</div>
{% endblock %}