{% extends 'base.html' %}

{% block title %}Projects - alinda's Portfolio{% endblock %}

{% block content %}
<div class="projects-page">
    <h1>My Projects </h1>

    <div class="project">
        <h2> Glamazon</h2>
        <p>This is a simple easy to use online saloon app where you can make appointments at any time and place,
            chat with the service provider and view different services tha are offered byt he saloon.</p>
    </div>

    <div class="project">
        <h2>Cornershop</h2>
        <p>This is an online shopping website with different items including household material, electronics,
            clothes, and many more.</p>
    </div>

    <div class="project">
        <h2>My personal website</h2>
        <p>This is a website that can tell you all about me forexamble what i do, the projects i have done, my identity
            and contacts.</p>
    </div>

    <div class="project">
        <h2>Dementia detection ML project</h2>
        <p>This is a system that can help people detect and differentiate between the different types of Dementia by
            just inputing their EEG data and meta data (age, sex, gender).</p>
    </div>
</div>
{% endblock %}